<a href="https://colab.research.google.com/github/ZohaibJavaid32/Python-A-Deep-Dive/blob/main/Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operators in Python**
1. Arithmetic Operators
2. Logical Operators
3. Relational ( Comparison ) Operators
4. Bitwise Operators
5. Assignment Operators
6. Identity Operators
7. Membership Operators
8. Operators Precedence.

üîç Interactive Learning:
Each section includes examples, tasks, and challenges. Execute the code cells and try the exercises yourself!

üë©‚Äçüíª Next Steps:
At the end of this notebook, you'll find a hands-on challenge to test your understanding. So get Ready!

# **Arithmetic Operators**

Arithmetic operators allow us to peform basic mathematical operations on our variables.

| Operator | Description           |
|----------|-----------------------|
| +        | Addition              |
| -        | Subtraction           |
| *        | Multiplication        |
| /        | Division              |
| //       | Floor Division        |
| %        | Modulus (Remainder)   |
| **       | Exponentiation        |

In [ ]:
# Addition Opertor
item1_price = 15.99
item2_price = 25.50
total_price = item1_price + item2_price
print("Total Price: $", total_price)

Total Price: $ 41.49

In [ ]:
#Subtraction Operator
account_balance = 1000
withdrawal_amount = 250
remaining_balance = account_balance - withdrawal_amount
print("Remaining Balance: $", remaining_balance)

Remaining Balance: $ 750

In [ ]:
# Multiplication Operator
length = 10
width = 5
area = length * width
print("Area of the rectangle: ", area, "square units")

Area of the rectangle:  50 square units

In [ ]:
# Division Operator
total_score = 450
number_of_subjects = 5
average_score = total_score / number_of_subjects
print("Average Score: ", average_score)

Average Score:  90.0

In [ ]:
# Floor Division
total_minutes = 185
hours_worked = total_minutes // 60
print("Full Hours Worked: ", hours_worked)

Full Hours Worked:  3

In [ ]:
# Modulus Operator
number = 23
is_odd = number % 2
print("Is the number odd? ", is_odd != 0)

Is the number odd?  True

In [ ]:
# Exponention Operator
initial_bacteria = 100
growth_rate = 2  # The population doubles each hour
time_in_hours = 24  # 24 hours

# Calculate the final population after 24 hours
final_population = initial_bacteria * growth_rate ** time_in_hours

print("Final population after 24 hours: ", final_population)

Final population after 24 hours:  1677721600

### **üí° Interactive Task 1**

1. You are planning a party. The cost of decorations is 45 dollars, the cost of food is 120 dollars, and the cost of drinks is 55 dollars. How much will the total party expenses be?

2. You have 200 dollars in your savings account. You withdraw 75 dollars to buy a new phone. How much money do you have left in your savings account?

3. A train travels 60 miles per hour. How far will the train travel in 8 hours?

4. A bakery made 120 cookies and packaged them into 6 boxes. How many cookies are there in each box?

5. You are running a race and complete 265 meters every 60 seconds. How many full minutes will it take you to run 5000 meters?

6. You are trying to divide 37 apples evenly into baskets, with each basket holding 6 apples. How many apples will be left over after filling the baskets?
7. You invest 500 dollars in a bank account with an annual interest rate of 5%.
 How much will your investment grow to after 3 years, if the interest is compounded annually?

# **Logical Operators**

| Operator | Description                           |
|----------|---------------------------------------|
| and      | True if all conditions are True       |
| or       | True if at least one condition is True|
| not      | Reverses the condition (True becomes False) |

In [ ]:
# AND Operator

credit_score = 750
income = 35000

# Check if both conditions are true
eligible_for_loan = (credit_score > 700) and (income > 30000)

print("Eligible for loan:", eligible_for_loan)

Eligible for loan: True

In [ ]:
# OR Operator

has_membership = False
has_guest_pass = True

# Check if at least one condition is true
can_access_gym = has_membership or has_guest_pass

print("Can access gym:", can_access_gym)

Can access gym: True

In [ ]:
# NOT Operator

age = 16

# Check if the person is not eligible to vote
not_eligible_to_vote = not (age >= 18)

print("Not eligible to vote:", not_eligible_to_vote)

Not eligible to vote: True

### üí°**Interactive Task 2**

1. You need both an umbrella and a raincoat to go outside on a rainy day.

   Do you have an umbrella? (Yes/No)

   Do you have a raincoat? (Yes/No)

   If you have both the umbrella and the raincoat, are you ready to go outside?


2. You can either have tea or coffee in the morning.

   Do you like tea? (Yes/No)

   Do you like coffee? (Yes/No)

   If you like either tea or coffee, can you have a drink in the morning?

3. A person can enter a movie theater only if they have a ticket.

   Do you have a ticket? (Yes/No)

   Using the not operator, if you do not have a ticket, will you be allowed to enter the theater?

# **Relational ( Comparison ) Operators**

| Operator | Description                        |
|----------|------------------------------------|
| ==       | Equal                              |
| !=       | Not Equal                          |
| >        | Greater Than                       |
| <        | Less Than                          |
| >=       | Greater Than or Equal To           |
| <=       | Less Than or Equal To              |

In [ ]:
# Equal

age1 = 25
age2 = 25
are_ages_equal = age1 == age2
print("Are the two people of the same age?", are_ages_equal)

In [ ]:
# Not Equal

price1 = 50
price2 = 60
prices_are_different = price1 != price2
print("Are the two products priced differently?", prices_are_different)

Are the two products priced differently? True

In [ ]:
# Greater Than

age = 30
minimum_age = 18
is_older = age > minimum_age
print("Is the person older than the minimum age?", is_older)

Is the person older than the minimum age? True

In [ ]:
# Less Than

stock = 5
restock_threshold = 10
needs_restocking = stock < restock_threshold
print("Does the product need restocking?", needs_restocking)

Does the product need restocking? True

In [ ]:
# Greater Than or Equal To

score = 75
passing_score = 50
has_passed = score >= passing_score
print("Has the student passed the exam?", has_passed)

Has the student passed the exam? True

In [ ]:
# Less Than or Equal To

age = 10
age_limit = 12
is_child_ticket = age <= age_limit
print("Does the person qualify for a child ticket?", is_child_ticket)

Does the person qualify for a child ticket? True

### üí°**Interactive Task 3**

1. You are checking if two people have the same score in a game. How would you compare their scores to see if they are equal?
2. You are verifying if a user's input does not match a predefined password. How would you check if the entered password is not equal to the correct password?
3. A store offers discounts to customers who spend more than $100. How would you check if a customer‚Äôs total purchase amount qualifies for a discount?
4. You are working on a mobile app that limits a user's age to under 18 to access certain features. How would you check if a user‚Äôs age is less than 18?
5. A fitness tracker gives a badge to users who walk 10,000 steps or more in a day. How would you check if a user‚Äôs step count qualifies for the badge?
6. A movie theater offers discounted tickets for children under the age of 12. How would you check if a child‚Äôs age qualifies for the discount?

# **Bitwise Operators**

| Operator     | Symbol | Description                                                  |
|--------------|--------|--------------------------------------------------------------|
| **AND**      | `&`    | Sets each bit to 1 if both bits are 1.                       |
| **OR**       | `` ` ``  | Sets each bit to 1 if at least one of the bits is 1.        |
| **XOR**      | `^`    | Sets each bit to 1 if only one of the two bits is 1.         |
| **NOT**      | `~`    | Inverts all the bits.                                        |
| **Left Shift**| `<<`   | Shifts bits to the left, filling zeros from the right. Equivalent to multiplying by 2 for each shift. |
| **Right Shift**| `>>`  | Shifts bits to the right, discarding bits from the right. Equivalent to dividing by 2 for each shift. |


NOTE : `bin()` is used to convert integer to binary form.

In [ ]:
# AND Operator
a = 0b1101  # 13 in decimal
b = 0b1011  # 11 in decimal

result = a & b
print(bin(result))  # Output: 0b1001 (9 in decimal)

0b1001

In [ ]:
# Or Operator
a = 0b1101  # 13 in decimal
b = 0b1011  # 11 in decimal

result = a | b
print(bin(result))  # Output: 0b1111 (15 in decimal)

0b1111

In [ ]:
# XOR Operator
a = 0b1101  # 13 in decimal
b = 0b1011  # 11 in decimal

result = a ^ b
print(bin(result))  # Output: 0b0110 (6 in decimal)

0b110

In [ ]:
# NOT Operator

a = 0b1101  # 13 in decimal

result = ~a
print(bin(result))  # Output: -0b1110 (Negative value)

-0b1110

In [ ]:
# Left Shift Operator

a = 0b0011  # 3 in decimal

result = a << 2  # Shift left by 2 bits
print(bin(result))  # Output: 0b1100 (12 in decimal)

0b1100

In [ ]:
# Right Shift Operator

a = 0b1100  # 12 in decimal

result = a >> 2  # Shift right by 2 bits
print(bin(result))  # Output: 0b0011 (3 in decimal)

0b11

# **Assignment Operators**

# Assignment and Arithmetic Operators in Python

| **Operator** | **Description**                                               |
|--------------|---------------------------------------------------------------|
| `=`          | Assigns a value to a variable.                                |
| `+=`         | Add and assign: `x += 3` is equivalent to `x = x + 3`.        |
| `-=`         | Subtract and assign: `x -= 3` is equivalent to `x = x - 3`.   |
| `*=`         | Multiply and assign: `x *= 3` is equivalent to `x = x * 3`.   |
| `/=`         | Divide and assign: `x /= 3` is equivalent to `x = x / 3`.     |
| `%=`         | Modulus and assign: `x %= 3` is equivalent to `x = x % 3`.    |

In [ ]:
age = 25
print(f"Age: {age}")

Age: 25

In [ ]:
balance = 5000
deposit = 200
balance += deposit
print(f"Updated balance: {balance}")

Updated balance: 5200

In [ ]:
budget = 1500
expenses = 300
budget -= expenses
print(f"Remaining budget: {budget}")

Remaining budget: 1200

In [ ]:
price = 100
discount = 0.2
price *= (1 - discount)
print(f"Price after discount: {price}")

In [ ]:
total_bill = 120
num_friends = 4
total_bill /= num_friends
print(f"Each friend pays: {total_bill}")

Each friend pays: 30.0

In [ ]:
wallet = 50
item_price = 17
wallet %= item_price
print(f"Money left after purchase: {wallet}")

Money left after purchase: 16

### Interactive Task 4
1. You are managing an online store. Write a Python program that tracks the total sales of the store, starting with a value of 0. Each time a customer makes a purchase, the amount is added to the total sales. Use the += operator to update the total sales after each purchase.
2. You are keeping track of the number of seats available in a theater. Initially, the theater has 100 seats. After a few reservations, the number of available seats decreases. Write a program that subtracts the reserved seats from the total number of available seats using the -= operator.

3. You are given a points variable representing the score of a game. At each level, the score increases by a factor of 1.5. Implement a function update_score that multiplies the current score by 1.5 at the end of each level. Return the updated score.

4. A company has a total budget of $120,000 to distribute among 4 departments equally. After each department receives its share, you need to update the remaining budget. Using the /= operator, calculate how much each department will get if the budget is divided, and then find the remaining budget after each distribution (divide by 4 for the total number of departments).

5. You are managing a set of items that should be grouped into packages of 7. If you start with 23 items, use the %= operator to find out how many items remain after grouping them into as many full packages as possible. How many items are left after grouping?

# **Identity Operators**

| Operator | Description                                        |
|----------|----------------------------------------------------|
| `is`     | Checks if two variables refer to the same object in memory |
| `is not` | Checks if two variables do not refer to the same object in memory |

In [ ]:
user_input = None  # The user hasn't entered anything yet

# Check if the variable is None
if user_input is None:
    print("No input provided. Using default values.")
else:
    print(f"User input: {user_input}")

No input provided. Using default values.

In [ ]:
cache_result = None
expensive_computation_result = 42  # Some expensive computation result

# If the result is not already in the cache, compute it
if cache_result is not expensive_computation_result:
    print("Cache miss: Recomputing result...")
    cache_result = expensive_computation_result
else:
    print("Cache hit: Using cached result.")

print(f"Result: {cache_result}")

Cache miss: Recomputing result...
Result: 42

### Interactive Task 5
1. You are given two variables that may or may not refer to the same object. Write a code snippet that checks if both variables refer to the same object in memory using the is operator. If they do, print "Both variables are the same object"; otherwise, print "They are different objects."

2. Your application stores the authentication state of users in a variable. When a user logs out, the authentication state is set to None. Write code that checks if the user's authentication state is still active (i.e., it is not None). If it is not None, print "User is authenticated"; otherwise, print "User is not authenticated."

In [ ]:
# Challenge 1
a = [1, 2, 3]
b = a

# Write code.

In [ ]:
# Cahallenge 2

auth_state = "user_authenticated"

# Write code.

# **Membership Operators**

| **Operator** | **Description**                                                    | **Example**               | **Result** |
|--------------|--------------------------------------------------------------------|---------------------------|------------|
| `in`         | Evaluates to `True` if the specified value exists in the sequence. | `'a' in 'apple'`          | `True`     |
| `not in`     | Evaluates to `True` if the specified value does not exist in the sequence. | `'x' not in 'apple'`      | `True`     |

In [ ]:
# Example: Checking user role
allowed_roles = ['admin', 'editor', 'moderator']
user_role = 'editor'

if user_role in allowed_roles:
    print("Access granted!")
else:
    print("Access denied.")

In [ ]:
# Example: Filtering banned words in a comment
banned_words = ['spam', 'ad', 'fake']
user_comment = "This is a great product, not a fake one!"

if any(banned_word in user_comment for banned_word in banned_words):
    print("Comment contains inappropriate content.")
else:
    print("Comment is approved.")

### Interactive Task 6

1. You're checking if an item is available in a grocery store's inventory before adding it to your cart.

   Question:
Check if "milk" is in the inventory list.

2. You're managing a guest list for a private event. A new person wants to enter, but you need to check if their name is not on the banned list.

   Question:
Check if "John Doe" is allowed to enter by verifying they are not on the banned guest list.

In [ ]:
inventory = ["bread", "milk", "eggs", "butter"]

# Write code.

In [ ]:
banned_guests = ["Alice Smith", "Bob Johnson", "Eve Adams"]
guest_name = "John Doe"

# Write code.

# **Operator Precedence**

Operator precedence determines the order in which operations are evaluated.
Use parentheses () to override precedence.

Precedence Order:

**Parentheses:** ()

**Exponentiation:** **

**Multiplication/Division:** *, /, //, %

**Addition/Subtraction:** +, -

**Comparison:** ==, !=, <, >, <=, >=

**Logical:** and, or, not

In [ ]:
# Multiplication (*) is evaluated before addition (+)
print(100 + 5 * 3)  # Output: 115

# 5 * 3 = 15, then 100 + 15 = 115

In [ ]:
# Division (/) is evaluated before addition (+)
print(50 + 10 / 2)  # Output: 55.0


# 10 / 2 = 5.0, then 50 + 5.0 = 55.0

In [ ]:
# Exponentiation (**) is evaluated before multiplication (*)
print(2 * 3 ** 2)  # Output: 18


# 3 ** 2 = 9, then 2 * 9 = 18

In [ ]:
# Parentheses force addition (+) before multiplication (*)
print((2 + 3) * 4)  # Output: 20


# (2 + 3) = 5, then 5 * 4 = 20

In [ ]:
# Parentheses force addition (+) before multiplication (*)
print((2 + 3) * 4)  # Output: 20


# (2 + 3) = 5, then 5 * 4 = 20

In [ ]:
# Unary negation (-) is applied before multiplication (*)
print(-5 * 4)  # Output: -20
# -5 * 4 = -20

In [ ]:
# Comparison (>) is evaluated before logical AND (and)
print(10 > 5 and 5 > 3)  # Output: True

#  10 > 5 = True,
#  5 > 3 = True,
#  then True and True = True

In [ ]:
# Parentheses force precedence within arithmetic and comparison
print((10 + 5) > (2 * 6))  # Output: True


# (10 + 5) = 15,
#  (2 * 6) = 12,
#  then 15 > 12 = True

###  üí° Interactive Tasks 7

Solve and predict output of these.

In [ ]:
# Easy Challenges

# 1. What is the output of the following expression?
print(10 + 5 * 2)

# 2. Rewrite the following so that addition is performed before multiplication. What is the output?
print(10 + 5 * 2)

# 3. What is the output of the following expression?
print(3 * 2 ** 2)

# 4. What is the output of this calculation?
print(50 / 5 + 10)

# 5. What is the output of the following expression?
print(-10 + 5)

In [ ]:
# Medium Challenges

# 6. What is the output of the following code?
print(15 - 5 > 8)

# 7. What will be the output of this logical expression?
print(10 > 5 and 8 < 10)

# 8. What is the output of the following logical expression?
print(True or False and False)

# 9. What is the output of this equality check?
print(3 * 2 == 6 + 1)

# 10. What is the result of the following logical expression with parentheses?
print((True or False) and False)

In [ ]:
# Hard Challenges

# 11. What is the output of this logical expression with NOT and AND?
print(not False and True)

# 12. What will this arithmetic expression print?
print((10 - 2) * (3 + 5))

# 13. What is the output of this chained logical expression?
print(10 > 5 and 3 < 4 or 2 == 2)

# 14. What is the result of the following complex logical expression?
print(not (10 < 5 or 3 > 2) and (4 == 4))

# 15. What does this mixed arithmetic, comparison, and logical expression print?
print(10 + 2 * 5 > 20 or 15 / 3 == 5)